[Desktop Entry]
Name=Clockode
Comment=TOTP Client
Exec=clockode %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.mariinkys.Clockode
Categories=Utility;
Keywords=Tool;TOTP;Authenticator;2FA;OTP;Code;